body{
    background-color: black;
    color: aliceblue
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-bar {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 15px;
    border-color: aliceblue;
    border-style: groove;
    width: 230px;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
}
.slidecontainer, .color-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}  
.header {
    color: aquamarine;
    font-weight: bold;
    font-size: 50px;
    padding: 30px;
    text-align: center;
}
.Stop, .stop-space{
    margin: 10px;
}
button {
    border-radius: 45px;
    border-color: aliceblue; 
    border-style: solid;
    border-width: 5px;
    width: 60%;
    height: 55px;
    background-color: aliceblue;
}
#Random-Colors{
    border-radius: 35px;
    height:80px

}
.container {
    display: flex;
    margin: 65px; 
    width: 820px;
    height: 864px;
    box-shadow: 2px 4px 16px rgb(179, 179, 179);
    background-color: white;

}
.stop-space{
    font-size: smaller;
    color: aliceblue;
}
.grid {
    border-style: solid;
    border-width: 0.5px;
    flex: 1;
    border-color: rgb(35, 5, 167);
}
#grid-item-size {
    text-decoration-line: underline;
    color: #d3d3d3;
    
}
div.grid:hover, div.grid:active {background: rgb(255, 255, 255);}

.grid-container {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    /* align-items: center;
    align-content: space-evenly; */
}


.slidecontainer {
    width: 50%; /* Width of the outside container */
  }
  
/* The slider itself */
.slider {
    
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #d3d3d3;
    outline: none;
    
}
  


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 50%;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #ffffff; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}